# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.parcel-cache
node_modules
dist
venv

# dependencies
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# backend
backend/env
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# remove config - for security issues
backend/config.ini

# don't include past tweets data
backend/app/analysis/past_tweets.json
backend/app/analysis/past_tweets_aws.json
backend/app/analysis/past_tweets_*.txt
backend/app/analysis/*queried_data/
backend/app/analysis/*.csv

# don't include practice data
backend/batch-write.json
backend/create-table.json

# don't include wordcloud images
*png
