@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

div {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.home-container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(180deg, white, 40%, rgba(89, 89, 89, 0.35));
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: max-content;

  margin-bottom: 20px;
}