.nav-container {
  height: 50px;

  padding: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: white;

  font-size: 15px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 20px;
}

.nav-right {
  margin-left: auto;
  margin-right: 20px;
}

#features-tab,
#pricing-tab,
#community-tab,
#support-tab {
  margin-left: 20px;
  margin-right: 20px;

  color: #28BC00;
  font-weight: 500 !important;
}


#login-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;

  color: #28BC00;
  border: 1px solid #28BC00 !important;
  font-weight: 500;

  background-color: white;
}

#login-btn:hover {
  background-color: rgba(40, 188, 0, 20%);
  cursor: pointer;
}

a {

  text-decoration: none !important;
  color: black !important;
}