.search-nav-bar {
  display: flex;
  align-items: center;
  /* width: 500px; */

  border-radius: 30px;

  /* backgrsound-color: rgb(252, 252, 252); */
  background-color: rgba(97, 97, 97, 0.757);
  border: 1.5px solid #dedede;
  width: 30vw;
  height: 39px;

  margin-left: 20px;
}

.search-nav-bar input,
.search-nav-bar input::placeholder {
  font: 13.5px sans-serif;
  width: 30vw;
  /* border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  background-color: transparent;

  height: 32px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.search-nav-bar input {
  padding: 17px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: transparent;
  border: none;

  font-family: 'Montserrat', sans-serif;
}

.search-nav-bar {
  margin-right: 0;
  /* border: 1.0px solid rgb(174, 174, 174); */
}

.search-nav-bar input[type=text]:focus {
  /* outline: 1px solid #28BC00; */
  /* oranges! yey */
  outline: 0px;
}

.search-nav-bar #home-search-button {
  /* border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; */
  border: none;
  background-color: #6c6c6c;
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; */
  width: 50px;
  height: 35px;

  margin: 0;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: rgba(255, 255, 255, 0.652);
}

.search-nav-bar #home-search-input {
  /* border-style: solid;
  border-width: 1px;
  border-color: black;
  border-right: none; */
  border: none;
}

.search-nav-bar #home-search-input:focus {
  outline: none;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */

  box-shadow: 0 0 10px #65bc4f;

  border-radius: 30px;

  /* background-color: rgb(252, 252, 252); */
  background-color: rgba(255, 255, 255, 0.102);
  border: none;
  padding-left: 30px;
  width: 60vw;

  margin: 0;
}

.search input,
.search input::placeholder {
  font: 17px sans-serif;
  width: 60vw;
  /* border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  background-color: transparent;

  height: 40px;
  color: rgb(170, 170, 170);
}

.search input {
  padding: 7px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  border: none;
  color: white;
}

.search {
  margin-top: 21px;
  margin-right: 0;
  border: none;
}

.search input[type=text]:focus {
  /* outline: 1px solid #28BC00; */
  /* oranges! yey */
  outline: 0px;
}

#home-search-button {
  /* border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; */
  border: none;
  background-color: #464646;
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; */
  width: 60px;
  height: 40px;

  margin: 0;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: rgba(255, 255, 255, 0.652);
}

#home-search-input {
  /* border-style: solid;
  border-width: 1px;
  border-color: black;
  border-right: none; */
  border: none;
}

#home-search-input:focus {
  outline: none;
}